body {
    font-family: 'Palatine Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-size: 15px;
    line-height: 22px;
    color: #252519;
    margin: 0;
    padding 0; }

a { color: #261a3b; }
a:visited { color: #261a3b; }

p{ margin: 0 0 15px 0; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 15px 0; }

h1 { margin-top: 40px; }

dt { font-weight: bold; }

ul {
    margin: 0;
    padding-top: 0; }

#container {
    background-color: white;
    border-left: thin solid #aaa;
    border-right: thin solid #aaa;
    min-width: 600px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 1rem;
    position: relative; }

.jlp-docs {
    color: #464;
    max-width: 600px;
    margin-top: 0.5rem; }

.jlp-code {
    margin-top: -1rem;}

.jlp-docs pre {
    background: #f8f8ff;
    border: 1px solid #dedede;
    margin: 15px 0 15px;
    padding-left: 15px; }

.jlp-docs tt, .jlp-docs code {
    background: #f8f8ff;
    border: 1px solid #dedede;
    font-size: 12px;
    padding: 0 0.2em; }

/* No border for code tags already inside pre tags. */
.jlp-docs pre > code {
    border: 0; }

.jlp-docs table {
    border: thin solid #dedede;
    margin-left: 60px; }

td.code, th.code {
    padding: 14px 15px 16px 25px;
    width: 100%;
    vertical-align: top;
    border-left: 1px solid #e5e5ee;
    font-size: 14px; }

pre, tt, code {
    font-size: 12px;
    line-height: 18px;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    margin: 0; padding: 0; }
